{% extends "base.html" %}

{% block content %}
    <div class="card shadow-sm">
        <img src="{{ url_for('static', filename='img/blog_header.jpg') }}" class="card-img-top rounded" alt="Blog Header" data-aos="fade-up">
        <div class="card-body" data-aos="fade-up" data-aos-delay="200">
            <h1 class="card-title text-center mb-4">Mutable, Immutable... Everything is Object!</h1>
            <div class="blog-content">
                {{ content | safe }}
                <div class="text-center mt-5" data-aos="fade-up" data-aos-delay="400">
                    <span class="badge bg-dark text-white p-3 fs-5 rounded-pill">
                        🐍 Fait par Noumane Bouqetyb
                    </span>
                </div>                
            </div>
        </div>
    </div>
{% endblock %}
